<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/main.css" th:href="@{/main.css}">
    <link rel="icon" type="image/x-icon" href="../src/main/resources/static/images/favicon.png"
          th:src="@{images/favicon.png}">
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed' rel='stylesheet'>
</head>
<body>
<nav class="navbar sticky-lg-top  text-end p-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">
            <img src="../src/main/resources/static/images/projectplanner-logo.png"
                 th:src="@{images/projectplanner-logo.png}" alt="Logo" width="220px"
                 class="d-inline-block align-text-top">
        </a>

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    Home
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link main-color" href="/projects">Projects
                    <i class="fa fa-folder-open"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link main-color" href="/organisations">Organisations
                    <i class="fa fa-group"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link main-color" href="/profile">Profile
                    <i class="fa fa-user-circle"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- error message for failed login -->
<div th:if="${errorMessage}" class="error-message">
    <p th:text="${errorMessage}" style="color: red; font-size: 20px; font-weight: bold; text-align: center;"></p>
</div>

<div class="container-fluid mt-5 text-center">
    <div class="container p-3 mt-4">
        <h3>Login <i class="fa fa-sign-in"></i></h3>
        <main class="form-signin w-100 m-auto">
            <form method="post" th:action="@{/}" onsubmit="return validateLogin()">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mt-3">
                    <input type="password" class="form-control" id="floatingPassword" name="password"
                           placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg main-color-bg" type="submit">Submit</button>
            </form>
        </main>
    </div>

    <div class="container p-3 mt-4">
        <h3>Register <i class="fa fa-user-plus"></i></h3>
        <hr>
        <p>Don't have an account? Register <a href="/register">here</a></p>
    </div>
</div>

<footer>
    <div class="container-fluid text-center">
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2023 - KEA</p>
    </div>
</footer>

<!---- JAVASCRIPT ---->
<script>
    function validateLogin() {
        var username = document.getElementById("floatingInput").value;
        var password = document.getElementById("floatingPassword").value;

        // Checking that the username is not empty
        if (username === "") {
            displayError("floatingInput", "Username is required");
            return false;
        } else {
            clearError("floatingInput");
        }

        // Checking that the password is not empty
        if (password === "") {
            displayError("floatingPassword", "Password is required");
            return false;
        } else {
            clearError("floatingPassword");
        }

        return true;
    }

    // Function to display error message for a specific field
    function displayError(fieldId, errorMessage) {
        var field = document.getElementById(fieldId);
        var errorSpanId = fieldId + "-error";
        var errorSpan = document.getElementById(errorSpanId);

        // Create and display the error message
        if (!errorSpan) {
            errorSpan = document.createElement("span");
            errorSpan.id = errorSpanId;
            errorSpan.classList.add("error-message");
            field.parentNode.appendChild(errorSpan);
        }
        errorSpan.innerText = errorMessage;
    }

    // Function to clear error message for a specific field
    function clearError(fieldId) {
        var errorSpanId = fieldId + "-error";
        var errorSpan = document.getElementById(errorSpanId);
        if (errorSpan) {
            errorSpan.parentNode.removeChild(errorSpan);
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
        integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
        crossorigin="anonymous"></script>
</body>
</html>