<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/main.css}" href="/static/main.css">
    <link rel="icon" type="image/x-icon" href="/../src/main/resources/static/images/favicon.png"
          th:src="@{/images/favicon.png}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed' rel='stylesheet'>
</head>
<body>
<nav class="navbar sticky-lg-top text-end p-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">
            <img src="/../src/main/resources/static/images/projectplanner-logo.png"
                 th:src="@{/images/projectplanner-logo.png}" alt="Logo" width="220px"
                 class="d-inline-block align-text-top">
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    Home
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link main-color" href="/projects">
                    Projects
                    <i class="fa fa-folder-open"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link main-color" href="/organisations">
                    Organisations
                    <i class="fa fa-group"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link main-color" href="/profile">
                    Profile
                    <i class="fa fa-user-circle"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid mt-5 text-center">
    <h3>Project settings <i class="fa fa-cogs"></i></h3>
    <hr>
</div>

<div class="row justify-content-center mt-3">
    <div class="container col-sm-10 col-md-5 p-4 mb-5">
        <h3 class="text-center">Edit project <i class="fa fa-pencil"></i></h3>
        <hr>
        <div class=" p-4 projectsettings-form">
            <form th:action="@{/project/{projectId}/projectsettings(projectId=${projectId})}" th:object="${projectForm}"
                  method="post" onsubmit="return validateForm()">
                <div class="mb-3">
                    <label for="inputName" class="form-label">Title</label>
                    <input type="text" class="form-control" id="inputName" name="name" th:value="*{name}" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3"
                              th:text="*{description}"></textarea>
                </div>
                <div class="mb-3">
                    <label for="inputStartDate" class="form-label">Start Date</label>
                    <input type="date" class="form-control" id="inputStartDate" name="startDate"
                           th:value="*{startDate}">
                </div>
                <div class="mb-3">
                    <label for="inputEndDate" class="form-label">End Date</label>
                    <input type="date" class="form-control" id="inputEndDate" name="endDate" th:value="*{endDate}">
                </div>
                <input type="hidden" th:value="${projectId}" name="projectId">
                <div class="container-fluid text-center">
                    <button type="submit" class="btn main-color-bg w-100 mt-3">
                        Update Project <i class="fa fa-refresh"></i>
                    </button>

                    <a class="btn btn-danger w-100 mt-3" onclick="return confirm('Are you sure you want to delete this project?')"
                        th:href="@{'/project/' + ${project.id} + '/deleteproject'}">
                        Delete project: "<span th:text="${project.getName()}"></span>"
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>

    <div class="container col-sm-10 col-md-5 p-4 mb-5 text-center">
        <h3>Members of project <i class="fa fa-user"></i></h3>
        <hr>
        <table class="table-light table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="projectMember : ${projectMembers}">
                <td th:text="${projectMember.firstName} + ' ' + ${projectMember.lastName}"></td>
                <td th:text="${projectMember.username}"></td>
                <td th:text="${projectMember.role}"></td>
                <td>
                    <a class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to remove this user from the project?')"
                       th:href="@{'/project/' + ${project.id} + '/deleteprojectmember/' + ${projectMember.id}}">
                        Remove <i class="fa fa-ban"></i>
                    </a>
            </tr>
            </tbody>
        </table>

        <a class="btn main-color-bg w-100 mt-4" th:href="'/project/' + ${project.id} + '/invitemember'"><span>Invite Member</span> <i class="fa fa-user-plus"></i></a>
    </div>
</div>


<footer>
    <div class="container-fluid text-center">
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2023 - KEA</p>
    </div>
</footer>

<!---- JAVASCRIPT ---->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
        integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

<script src="/validationerror.js"></script>
<script src="/projectvalidation.js"></script>

</body>
</html>