<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${project.name}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/main.css}" href="/static/main.css">
    <link rel="icon" type="image/x-icon" href="../src/main/resources/static/images/favicon.png"
          th:src="@{images/favicon.png}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
    <script src="https://code.highcharts.com/gantt/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/gantt/modules/export-data.js"></script>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed' rel='stylesheet'>
</head>
<body>
<nav class="navbar sticky-lg-top text-end p-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">
            <img src="../src/main/resources/static/images/projectplanner-logo.png"
                 th:src="@{/images/projectplanner-logo.png}" alt="Logo" width="220px"
                 class="d-inline-block align-text-top">
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    Home
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link main-color" href="/projects">
                    Projects
                    <i class="fa fa-folder-open"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link main-color" href="/organisations">
                    Organisations
                    <i class="fa fa-group"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link main-color" href="/profile">
                    Profile
                    <i class="fa fa-user-circle"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="projectInfo" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto d-flex flex-row">
        <li class="pi-item nav-link" th:if="${user.role.equals('project_manager')}">
            <a class="pi-link" th:href="'/project/' + ${project.id} + '/invitemember'"><span>Invite Member</span> <i class="fa fa-user-plus"></i></a>
        </li>
        <li class="pi-item nav-link" th:if="${user.role.equals('project_manager')}">
            <a class="pi-link" th:href="'/project/' + ${project.id} + '/projectsettings'"><span>Project Settings</span> <i class="fa fa-cogs"></i></a>
        </li>
    </ul>
</div>

<div class="text-center mt-3">
    <h3 th:text="${project.name}"></h3>
    <hr>
</div>

<div class="container mt-4 p-3 container-fluid">
    <h3 class="text-center">Tasks and subtasks</h3>
    <table class="table table-light border border-black">
        <thead>
        <tr>
            <th class="col-4">Task</th>
            <th class="col-2">Status</th>
            <th class="col-6">Subtasks</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over the tasks -->
        <tr th:each="task : ${tasksAndSubtasks}" th:data-taskid="${task.id}">
            <td>
                <!-- Display the task name and add a button to open a modal with task info -->
                <div class="task-info">
                    <button class="btn main-color-bg" type="button" data-bs-toggle="modal"
                            th:data-bs-target="'#taskModal-' + ${task.id}" th:text="${task.name}"></button>
                </div>

                <!-- Task Modal -->
                <div class="modal fade" th:id="'taskModal-' + ${task.id}" tabindex="-1" aria-labelledby="taskModalLabel"
                     aria-hidden="true">
                    <!-- Modal content -->
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="taskModalLabel" th:text="${task.name} + ' Info'"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p th:text="${task.description}"></p>
                                <p th:text="'Start Date: ' + ${task.startDate}"></p>
                                <p th:text="'End Date: ' + ${task.endDate}"></p>
                                <p th:text="'Status: ' + ${task.status}" class="status"></p>
                                <p th:text="'Cost: ' + ${task.cost} + '$'"></p>
                                <p>Assignees: </p>
                                <div th:each = "assignee : ${projectUtility.getAllTaskAssignees(task.id)}">
                                    <p th:text="${assignee.username}"></p>
                                </div>
                                <h3 th:text="'Comment'"></h3>
                                <div th:each = "comment : ${task.comments}">
                                    <p th:text="${comment}"></p>
                                </div>
                                <form id="taskCommentForm"
                                      th:action="@{'/project/' + ${project.id} + '/addtaskcomment'}" method="post">
                                    <input type="hidden" name="taskId" th:value="${task.id}"/>
                                    <div class="mb-3">
                                        <label for="taskComment" class="form-label">Comment:</label>
                                        <textarea class="form-control" id="taskComment" name="comment" rows="4"
                                                  placeholder="Enter your comment"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Add Comment</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this task?')"
                                   th:href="@{'/project/' + ${project.id} + '/delete/task/' + ${task.id}}">Delete
                                    Task</a>
                                <a class="btn main-color-bg"
                                   th:href="@{'/project/' + ${project.id} + '/edittask/' + ${task.id}}">Edit Task
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <!-- Update the task status -->
            <td>
                <span th:text="${task.percentageCompletion} + '%'"></span>
                <form th:action="@{'/project/' + ${project.id} + '/update-task-status/' + ${task.id}}" method="post">
                    <select class="form-select " id="statusDropdown" th:name="taskStatus" onchange="this.form.submit()">
                        <option th:value="tasks.status" th:text="${task.status}"></option>
                        <option value="todo" th:text="'To Do'" th:selected="${task.status == 'todo'}"></option>
                        <option value="in_progress" th:text="'In Progress'"
                                th:selected="${task.status == 'in_progress'}"></option>
                        <option value="completed" th:text="'Completed'"
                                th:selected="${task.status == 'completed'}"></option>
                    </select>
                </form>
            </td>
            <td>
                <!-- Add a dropdown button to toggle subtasks -->
                <button class="btn main-color-bg toggle-subtasks" type="button">
                    <span th:text="${task.subtasks.size()} + ' Subtasks for ' + ${task.name}"></span>
                    <i class="fa fa-arrow-down"></i>
                </button>
                <!-- Iterate over the subtasks and add them to the corresponding task -->
                <div class="subtasks">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-8"></th>
                            <th class="col-4"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="subtask : ${task.subtasks}">
                            <td>
                                <div class="subtask-info">
                                    <button class="btn btn-link" type="button" data-bs-toggle="modal"
                                            th:data-bs-target="'#subtaskModal-' + ${subtask.id}"
                                            th:text="${subtask.title}"></button>
                                </div>
                                <!-- Subtask Modal -->
                                <div class="modal fade" th:id="'subtaskModal-' + ${subtask.id}" tabindex="-1"
                                     aria-labelledby="subtaskModalLabel" aria-hidden="true">
                                    <!-- Modal content -->
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="subtaskModalLabel"
                                                    th:text="${subtask.title} + ' Info'"></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p th:text="${subtask.description}"></p>
                                                <p th:text="'Start Date: ' + ${subtask.startDate}"></p>
                                                <p th:text="'End Date: ' + ${subtask.endDate}"></p>
                                                <div class="status-container">
                                                    <p th:text="'Status: ' + ${subtask.status}" class="status"></p>
                                                    <form th:action="@{'/project/' + ${project.id} + '/update-subtask-status/' + ${subtask.id}}"
                                                          method="post">
                                                        <select class="form-select" id="subtaskStatusDropdown"
                                                                th:name="subtaskStatus" onchange="this.form.submit()">
                                                            <option selected disabled hidden>Update task status</option>
                                                            <option value="todo" th:text="'To Do'"
                                                                    th:selected="${subtask.status == 'todo'}"></option>
                                                            <option value="in_progress" th:text="'In Progress'"
                                                                    th:selected="${subtask.status == 'in_progress'}"></option>
                                                            <option value="completed" th:text="'Completed'"
                                                                    th:selected="${subtask.status == 'completed'}"></option>
                                                            <input type="hidden" name="taskId" th:value="${task.id}"/>
                                                        </select>
                                                    </form>
                                                </div>
                                                <p th:text="'Cost: ' + ${subtask.cost} + '$'"></p>
                                                <p th:if="${projectUtility.getAssignedUserBySubtaskId(subtask.id) != null}"
                                                   th:text="'Assignee: ' + ${projectUtility.getAssignedUserBySubtaskId(subtask.id).username}">
                                                    Assignee: [Username]
                                                </p>
                                                <p th:unless="${projectUtility.getAssignedUserBySubtaskId(subtask.id) != null}">
                                                    Assignee: [Not Assigned]
                                                </p>

                                                <div id="assignToTask" th:if="${user.role.equals('project_manager')}">
                                                    <form th:action="@{/project/{projectId}/addtosubtask(projectId=${project.id})}" method="post">
                                                        <div class="mb-3">
                                                            <label for="selectUsers" class="form-label">Add assignee to subtask</label>
                                                            <select class="form-select" id="selectUsers" name="userId">
                                                                <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.username}"></option>
                                                            </select>
                                                        </div>
                                                        <input type="hidden" th:value="${project.id}" name="projectId">
                                                        <input type="hidden" th:value="${subtask.id}" name="subtaskId">
                                                        <input type="hidden" th:value="${task.id}" name="taskId">
                                                        <div class="container-fluid text-center">
                                                            <button type="submit" class="btn main-color-bg w-50 m-4">Add to subtask</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <h3 th:text="'Comment'"></h3>
                                                <div th:each="comment : ${subtask.comments}">
                                                    <p th:text = "${comment}"></p>
                                                </div>
                                                <form id="subtaskCommentForm"
                                                      th:action="@{'/project/' + ${project.id} + '/addsubtaskcomment'}"
                                                      method="post">
                                                    <input type="hidden" name="subtaskId" th:value="${subtask.id}"/>
                                                    <div class="mb-3">
                                                        <label for="subtaskComment" class="form-label">Comment:</label>
                                                        <textarea class="form-control" id="subtaskComment"
                                                                  name="comment" rows="4"
                                                                  placeholder="Enter your comment"></textarea>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Add Comment</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this subtask?')"
                                                   th:href="@{'/project/' + ${project.id} + '/delete/subtask/' + ${subtask.id}}">Delete
                                                    Subtask</a>
                                                <a class="btn main-color-bg"
                                                   th:href="@{'/project/' + ${project.id} + '/editsubtask/' + ${task.id} + '/' + ${subtask.id}}">Edit Subtask
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="subtask-info">
                                    <span class="status subtask-status" th:text="${subtask.status}"></span>
                                    <span class="subtask-perecentage" th:text="${subtask.percentageCompletion} + '%'"></span>
                                    <form th:action="@{'/project/' + ${project.id} + '/update-subtask-percentage/' + ${subtask.id}}" method="post"
                                          onsubmit="event.preventDefault();">
                                        <input type="number" class="subtask-percentage-input" min="0" max="100"
                                               th:value="${subtask.percentageCompletion}" name="subtaskPercentage"
                                               onkeydown="if(event.keyCode === 13) this.form.submit();"/>
                                        <input type="hidden" name="taskId" th:value="${task.id}" />
                                        <input type="submit" style="display: none">
                                    </form>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <a class="btn btn-primary"
                           th:href="@{'/project/' + ${project.id} + '/createsubtask/' + ${task.id}}">Create Subtask</a>
                        <input type="hidden" name="taskId" th:value="${task.id}"/>
                    </div>
                </div>
            </td>
        </tr>
        <!-- Add a button to create ask -->
        <tr>
            <td colspan="3">
                <div>
                    <a class="btn btn-primary" th:href="@{'/project/' + ${project.id} + '/createtask'}">Create Task</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="text-center mt-3">
    <h6 th:text="'Total estimated cost of project: ' + ${projectCost} + '$'"></h6>
</div>

<div id="container" style="height: 500px;"></div>


<footer>
    <div class="container-fluid text-center">
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2023 - KEA</p>
    </div>
</footer>

<!---- JAVASCRIPT ---->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
        integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

<script src="/project.js"></script>

<span id="json-data" th:utext="${ganttData}" style="display: none;"></span>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let ganttDataStr = document.getElementById('json-data').innerText;

        if (ganttDataStr !== '{}') {
            try {
                // Parse the ganttData string
                let ganttData = JSON.parse(ganttDataStr);
                console.log("Parsed Gantt Data: ", ganttData);

                // Format the Gantt chart data
                ganttData = ganttData.map(function (task) {
                    return {
                        id: task.id,
                        name: task.name,
                        start: task.start,
                        end: task.end,
                        completed: task.completed,
                        parent: ganttData.find(t => t.id === task.parent) ? task.parent : undefined
                    };
                });

                Highcharts.ganttChart('container', {
                    series: [{
                        data: ganttData
                    }]
                });
            } catch (error) {
                console.log("Error in script: ", error);
            }
        } else {
            console.log("Gantt Data not received");
        }
    });
</script>
</body>
</html>